*~
*.o
*.pyc
*.pyo
*.log
*.aux
*.toc
*.out
doc/*.pdf
project/cherrypy/*
project/rdflib/*
project/rdflib2.4/*
project/rdflib3/*
project/data/*
project/log/*
project/db.sqlite
project/rdfextras/*
project/output/*
project/mako/*
